extends layout

block content

	#backgroundGradient
		#imageOverlay

	// Wrapper
	a(href="https://forums.auroraen.com")
		img(id="logo" src="/images/logo.png")
	#wrapper

		// USER LIST
		
		#userList
			table
				thead
					th Rank
					th Name
					th Money
				tbody
		// /USER LIST

		#buttons
			a(href="http://google.com" class="button" id="back") Back
			a(href="http://google.com" class="button" id="next") Next
			
		#searchWrapper
			form(id="search")
				input(type="text" id="searchBox" name="steamid" placeholder="SteamID...")
				button(type="submit" value="Submit" id ="searchBtn")
					<i class="fa fa-search"></i>
	// /Wrapper

