doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		block content
		script(src='https://code.jquery.com/jquery-2.1.4.min.js')
		script(src='/javascripts/global.js')